<!-- REF:\zVIDEO\.19\(min.1.30) -->
<div>
    <!-- iframe limita-se a "reproduzir" url da BD correspondente ao video seleccionado  -->
    <!-- url: /uploads/VAN.mp3 é permitido pq é publico: -->
    <!-- [video]="selectedVideo":videocenter.component.html - data-binding
                 "selectedVideo": metodo que devolve objeto video seleccionado -->
    <div>
        <iframe width="100%" height="300 px" [src]="video.url | safe">
        </iframe>
    </div>
    <form>
        <div *ngIf="editTitle" class="form-group">
            <input type="input" class="form-control" name="title" required placeholder="title"
            [(ngModel)]="video.title">
        </div>
        <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{video.title}}</h3>
        <div class="form-group">
                <input type="input" class="form-control" name="url" required placeholder="url"
                [(ngModel)]="video.url">
        </div>
        <div class="form-group">
                <textarea class="form-control" rows="5" name="desc" [(ngModel)]="video.description">
                </textarea>
        </div>
        <!-- REF:\zVIDEO\.23\(min.1.30, 5.30) -->
        <button type="button" (click)="updateVideo()" class="btn btn-primary">Update</button>
        <!-- REF:\zVIDEO\.24\(min.1.00, 6.00) -->
        <button type="button" (click)="deleteVideo()" class="btn btn-danger">Delete</button>
        <!-- espaço -->
        <div> <br><br><br> </div>
    </form>
</div>
