<!-- REF:\zVIDEO\.16\(min.1.00)-->
<!-- REF:\zVIDEO\.18\(min.7.30) EXPLAIN-ALL!! -->

<!--"Anexar" html de video-list e video-detail em video-center-->
<div class="row">
  <div class="col-sm-9">
    <!-- REF:\zVIDEO\.22\(min.1.00, min.4.00, min.7.15)-->
    <div *ngIf="!hideNewVideo">
      <h2>New Video</h2>
      <form #form="ngForm" (ngSubmit)="onSubmitAddVideo(form.value)" class="well">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" required name="title" ngModel>
        </div>
        <div class="form-group">
            <label>Url</label>
            <input type="text" class="form-control" required name="url" ngModel>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" required name="description" ngModel>
        </div>
        <button type="submit" class="btn btn-success" >Save</button>
      </form>
    </div>

    <!-- REF:\zVIDEO\.23+24\(min.3.00, 5.30)-->
    <!-- "updateVideoEvent":video-detail.component.ts - "onUpdateVideoEvent":video-center.component.ts -->
    <!-- ("[*video]")=("@Input() *video: Video;":video-detail.component) - não tem de ser "video" -->
    <!-- "selectedVideo":video-center.component.ts("selectedVideo: Video;") -->
    <app-video-detail (updateVideoEvent)="onUpdateVideoEvent($event)"
      (deleteVideoEvent)="onDeleteVideoEvent($event)"
      *ngIf="selectedVideo && hideNewVideo" 
      [video]="selectedVideo">
    </app-video-detail>
  </div>
  <div class="col-sm-3">

  <button (click)="newVideo()" style="margin-bottom:2px;" type="button" class="btn btn-success btn-block" >Add New Video</button>
 
 <!-- REF:\zVIDEO\.17\(min.2.00)-->
 <!-- PROPRETY_DATA_BINDING:
          . ("[*videos]")=("@Input() *videos":video-list.component.ts) - não tem de ser "videos"
          . "arrayVideos":video-center.component.ts("arrayVideos:Array<Video>")
          . ("*Selectvideo")=("@Output() *Selectvideo":video-list.component.ts)") - não tem de ser "Selectvideo"
          . "onSelectedVideo($event)":video-center.component.ts("onSelectedVideo(video:any)")                                          -->
      <app-video-list (Selectvideo)="onSelectedVideo($event)" [videos]="arrayVideos"></app-video-list>
  </div>
</div>